<h1>About Us</h1>
<h3>Short Description</h3>
<p>
  Award winning barbershop and men's grooming supply store in a historic 137 year old room located in downtown Halifax. Never a dull moment.
</p>
<h3>Hours</h3>
<table>
  <tr>
    <td>
      <b>Tue-Fri:</b>
    </td>
    <td>
      10:00am - 8:00pm
    </td>
  </tr>
  <tr>
    <td>
      <b>Sat:</b>
    </td>
    <td>
      10:00am - 6:00pm
    </td>
  </tr>
  <tr>
    <td>
      <b>Sun:</b>
    </td>
    <td>
      12:00pm - 5:00pm
    </td>
  </tr>
</table>
<br />
