<form role="form">
  <div class="form-group">
    <label for="client" class "control-label">Client:</label>
    <select name="clientSelect" id="client" ng-model="appointment.client">
      <option ng-repeat="client in clients" value="{{client._id}}">{{client.name}}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="service" class "control-label">Service:</label>
    <select name="serviceSelect" id="service" ng-model="appointment.service">
      <option ng-repeat="service in services" value="{{service._id}}">{{service.name}}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="barber" class "control-label">Barber:</label>
    <select name="barberSelect" id="barber" ng-model="appointment.barber">
      <option ng-repeat="barber in barbers" value="{{barber._id}}">{{barber.name}}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="time" class "control-label">Time:</label>
    <input type="datetime-local" id="time" name="time" ng-model="appointment.time"
      placeholder="yyyy-MM-ddTHH:mm:ss" min="{{date}}" required />
    <input type="submit" class="btn btn-primary" ng-click="saveAppointment()" value="Save" />
</form>
