<form role="form">
  <div class="form-group">
    <label for="name" class"control-label">Name</label>
    <input type="text" ng-model="barber.name" class="form-control" id="name" placeholder="Enter New Barber Name" />
  </div>
  <div class="form-group">
    <label for="name" class"control-label">Bio</label>
    <input type="text" ng-model="barber.bio" class="form-control" id="name" placeholder="Enter Bio For New Barder" />
  </div>
  <input type="submit" class="btn btn-primary" ng-click="saveBarber()" value="Save" />
</form>
