<div class="row">
  <img src="images/bups.jpg" width="500px" style="margin:0 auto; display: block;" alt="Sailor Bup's Logo">
  <hr />
  <h1 style="text-align: center; padding-bottom: 5px;">Sailor Bup's Welcome To Your Shop! <br /><br /><a class="btn btn-lg btn-success" ng-href="#/barberly"><b>Book Now</b> <span class="glyphicon glyphicon-share-alt"></span></a></h1>

  <!-- <br />
  <h4>What to expect</h4>
  <p>
    Award winning barbershop and men's grooming supply store in a historic 137 year old room located in downtown Halifax. Never a dull moment.
  </p> -->
</div>
